<!DOCTYPE html>
<html>
<head>
    <title>Gráfico</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
   <link rel="stylesheet" href="static/graficos.css">
  
</head>
<body>
    
    <div id="myDiv"><!-- El gráfico de Plotly se dibujará dentro de este DIV --></div>
    <a href="/listado-voucher" class="btn">Volver<a>
    <script>
    $(document).ready(function() {
        $.getJSON('/data_for_graph', function(data) {
            var graphData = JSON.parse(data.graph_json);
            Plotly.newPlot('myDiv', graphData);
        });
    });
    </script>
</body>
</html>