<!DOCTYPE html>
<html>
<head>
    <title>Template</title>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="/static/loginadmin.css">
   
</head>

<body>
    
   <div class="form">
    
    <form class="form-control" action="acceso-admin" method="post">
       <a href="acceso-barbero" class="form__link" > <h2 class="form__title"> ADMIN</h2></a>
       {% if mensaje %}
       <div class="alert alert-danger" role="alert">
           {{ mensaje }}
       </div>
       {% endif %}
        <div class="form__group">
            <label for="exampleInputUserName1" class="form__label"></label>
            <input type="text" class="form-control form__input" id="exampleInputUserName1" aria-describedby="userNameHelp" placeholder="Enter user name" name="txtUserName">
            <small id="userNameHelp" class="form-text text-muted form__paragraph">.</small>
        </div>
        <div class="form__group">
            <label for="exampleInputPassword1" class="form__label"></label>
            <input type="password" class="form-control form__input" id="exampleInputPassword1" placeholder="Password" name="txtPassword">
        </div>
        <div class="form-check">
       
        </div>
        <button type="submit" class="btn btn-primary form__button">INGRESAR</button>
    </form>
   </div>
</body>
</html>