<!DOCTYPE html>
<html>
<head>
    <title>Template</title>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>

<body>
   <div>
    <form class="form-control" action="acceso-admin" method="post">
        <div class="form-group">
            <label for="exampleInputUserName1">User Name</label>
            <input type="text" class="form-control" id="exampleInputUserName1" aria-describedby="userNameHelp" placeholder="Enter user name" name="txtUserName">
            <small id="userNameHelp" class="form-text text-muted">We'll never share your user name with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="txtPassword">
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
   </div>
</body>
</html>