<!DOCTYPE html>
<html>
<head>
    <title>Título de la página</title>
    <link rel="stylesheet" href="static/listvoucher.css">
</head>
<body>

    <div class=""> 
        <h1 class="title" >
           LISTA DE CORTES
        </h1>
        <a href="/listado-voucher" class="btn">VOLVER </a>

        <a href="/estadisticas-cortes" class="btn">GRÁFICOS</a>

        <a href="/listado-voucher-barbero" class="btn">VER VOUCHER</a>

        {% if corte %}
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Barbero</th>
                        <th>Fecha de creacion</th>
                    </tr>
                </thead>
                <tbody>
                    {% for corte in corte %}
                        <tr>
                            <td>{{ corte.id }}</td>
                            <td>{{ corte.cliente }}</td>
                            <td>{{ corte.barbero}}</td>
                            <td>{{corte.fecha}} </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No hay cortes</p>
        {% endif %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


</body>
</html>