<!DOCTYPE html>
<html>
<head>
    <title>Título de la página</title>
    <link rel="stylesheet" href="static/listvoucher.css">
</head>
<body>

    <div class=""> 
        <h1 class="title" >
           LISTA DE VOUCHERS
        </h1>
        <a href="/users-admin" class="btn">VOLVER </a>

        <a href="/graficos" class="btn">GRÁFICOS</a>

        <a href="/listado-cortes" class="btn">VER VOUCHER</a>

        <a href="/buscador-dni" class="btn">VER VOUCHER</a>

        {% if boucher %}
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Dni</th>
                        <th>Estado</th>
                        <th>Fecha de creacion</th>
                    </tr>
                </thead>
                <tbody>
                    {% for voucher in boucher %}
                        <tr>
                            <td>{{ voucher.id }}</td>
                            <td>{{ voucher.name1 }}</td>
                            <td>{{ voucher.dni }}</td>
                            <td id="estado-{{ voucher.id }}">{{ voucher.estado }}</td>
                            <td>{{voucher.fecha}} </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No hay vouchers</p>
        {% endif %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
   
    $('input[type="checkbox"]').change(function() {
    var id = $(this).data('id');
    var estado = $(this).is(':checked') ? 'active' : 'inactive';
    
    $.post('/listado-voucher', { id: id, estado: estado })
        .done(function(response) {
            $('#estado-' + id).text(estado);
            alert(response.message);
        })
        .fail(function() {
            alert('Hubo un error al actualizar el estado del voucher');
        });
   });
});
</script>

</body>
</html>