<link rel="stylesheet" href="static/register.css">

{% include ("cabecera.html") %}


<form class="form" action="/register-user" method="post">

    {% if error %}
<div class="alert alert-danger" role="alert">
  {{ error }}
</div>
{% endif %}

    <h1 class="form__title">REGISTER</h1>
       
    <div class="form__container">
    <div class="form__group">
        <label class="form__label" for="exampleInputFullName"></label>
        <input type="text" class="form__input" id="exampleInputFullName" placeholder="Enter full name" name="txtFullName" required>
    </div>

    <div class="form__group">
        <label class="form__label" for="exampleInputEmail"></label>
        <input type="email" class="form__input" id="exampleInputEmail" placeholder="Enter email" name="txtEmail" required>
    </div>

    <div class="form__group">
        <label class="form__label" for="exampleInputPassword"></label>
        <input type="password" class="form__input" id="exampleInputPassword" placeholder="Password" name="txtPassword" required>
    </div>

    <div class="form__group">
        <label class="form__label" for="exampleInputConfirmPassword"></label>
        <input type="password" class="form__input" id="exampleInputConfirmPassword" placeholder="Confirm Password" name="txtConfirmPassword" required>
    </div>

    <div class="form__group">
        <label class="form__label" for="exampleInputEmpresa"></label>
        <input type="text" class="form__input" id="exampleInputEmpresa" placeholder="Empresa" name="txtEmpresa" required>
    </div>

    <div class="form__group">
        <label class="form__label" for="exampleInputDni"></label>
        <input type="number" class="form__input" id="exampleInputDni" placeholder="Dni" name="txtDni" required>
    </div>

    <div class="form__group">
        <label class="form__label" for="exampleInputCelular"></label>
        <input type="number" class="form__input" id="exampleInputCelular" placeholder="Telefono" name="txtCelular" required>
    </div>

    <div class="form__group">
        <label class="form__label" for="exampleInputFamilia"></label>
        <input type="number" class="form__input" id="exampleInputFamilia" placeholder="Familia" name="txtFamilia" required>
    </div>
   
    <button type="submit" class="form__button">ENVIAR</button>
    </div>

    
</form>

        