<!DOCTYPE html>
<html>
<head>
    <title>Template</title>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="static/register_barbero.css">
</head>

<body>

    <form class="form" action="/register-barbero" class="form__link" method="post">

        {% if error %}
    <div class="alert alert-danger" role="alert">
      {{ error }}
    </div>
    {% endif %}
    
        <h1 class="form__title">REGISTER BARBERO</h1>
        <a href="/acceso-barbero" class="form__link">Volver al Login</a>
           
        <div class="form__container">
        <div class="form__group">
            <label class="form__label" for="exampleInputBarberoName"></label>
            <input type="text" class="form__input" id="exampleInputBarberoName" placeholder="Enter full name" name="txtBarberoName" required>
        </div>
    
        <div class="form__group">
            <label class="form__label" for="exampleInputPassword"></label>
            <input type="password" class="form__input" id="exampleInputPassword" placeholder="Password" name="txtPassword" required>
        </div>
    
        

        <button type="submit" class="form__button">ENVIAR</button>
        </div>
    
        
    </form>
   
</body>

</html>