<!DOCTYPE html>
<html>
<head>
    <title>QR Code</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='showqr.css') }}">
</head>
<body>

    <div class="container">

<h1 class="text">El voucher se creó correctamente</h1>

<img class="qr-code" src="{{ url_for('static', filename='qr/' + filename) }}" alt="QR Code">

<a class="download-button" href="{{ url_for('static', filename='qr/' + filename) }}" download>Descargar QR</a>

<a class="back-button" href="{{ url_for('voucher') }}">Volver</a>

</div>
</body>
</html>