<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/listuser.css">
    <body>


<div class="user-list"> <!-- Agregada la clase 'user-list' -->
    <h1 class="title">
       LISTA DE USUARIOS
    </h1>
    <a href="/listado-voucher" class="btn">VER LISTADO DE VOUCHERS </a>
<div class="form-container">
    <form class="form" action="/search" method="post">
        <input class="form input" type="text" name="username" placeholder="Buscar usuario por nombre">
        <input class="form input" type="submit" value="Buscar">
    </form>
</div>
    {% if users %}
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.name }}</td>
                        <td>
                            <form method="POST" action="{{ url_for('delete_user', id=user.id) }}">
                                <button class="delete" type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay usuarios</p>
    {% endif %}
</div>


</body>
</html>