<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/listuser.css">
    <body>


<div class="user-list"> <!-- Agregada la clase 'user-list' -->
    <h1 class="title">
       LISTA DE USUARIOS
    </h1>
    <a href="/listado-voucher" class="btn">VER LISTADO DE VOUCHERS </a>
<div class="form-container">
    <form class="form" action="/search" method="post">
        <input class="form input" type="text" name="username" placeholder="Buscar usuario por nombre">
        <input class="form input" type="submit" value="Buscar">
    </form>
</div>
    {% if users %}
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Acciones</th>
                    <th>Usarios</th>
                    <th>Slide</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.name }}</td>
                        <td>
                            <form method="POST" action="{{ url_for('delete_user', id=user.id) }}">
                                <button class="delete" type="submit">Delete</button>
                            </form>
                        </td>
                        <td id="estado-{{ user.id }}">{{ user.estado }}</td>
                        <td>
                            <label class="switch">
                                <input type="checkbox" data-id="{{ user.id }}" {% if user.estado != 'inactive' %}checked{% endif %}>
                                <span class="slider round"></span>
                            </label>   
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay usuarios</p>
    {% endif %}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
   
    $('input[type="checkbox"]').change(function() {
    var id = $(this).data('id');
    var estado = $(this).is(':checked') ? 'active' : 'inactive';
    
    $.post('/users-admin', { id: id, estado: estado })
        .done(function(response) {
            $('#estado-' + id).text(estado);
            alert(response.message);
        })
        .fail(function() {
            alert('Hubo un error al actualizar el estado del voucher');
        });
   });
});
</script>

</body>
</html>