<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/listuser.css">
    <body>


<div class="user-list"> <!-- Agregada la clase 'user-list' -->
    <h1>
       LISTA DE USUARIOS
    </h1>
    {% if users %}
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            
                            <form method="POST" action="{{ url_for('delete_user', id=user.id) }}">
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay usuarios</p>
    {% endif %}
</div>

</body>
</html>