<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi página web</title>
    <link rel="stylesheet" href="static/voucher_barberia.css">
</head>
<body>

    <div class="form__group">
        <a href="/inicio-barbero" class="form__button">VOLVER</a>
    </div>
    <form class="form" action="voucher-barberia" method="post">
        <h1 class="form__title">
            VOUCHER
        </h1>
       
        {% if mensaje %}
        <div class="alert alert-danger" role="alert">
            {{ mensaje }}
        </div>
        {% endif %}
        <div class="form__container">
        <div class="form__group">
            <label for="exampleInputBarbero1" class="form__label"></label>
            <input type="text" class="form__input" id="exampleInputBarbero1" aria-describedby="barberoHelp" placeholder="Barbero" name="txtBarbero1" required>
          
        </div>
        <div class="form__group">
            <label for="exampleInputCliente1" class="form__label"></label>
            <input type="text" class="form__input" id="exampleInputCliente1" placeholder="Cliente" name="txtCliente1" required>
        </div>

        <div class="form__group">
            <label for="exampleInputDni1" class="form__label"></label>
            <input type="number" class="form__input" id="exampleInputDni1" aria-describedby="dniHelp" placeholder="Dni Cliente" name="txtDni1" required>
          
        </div>

        <button type="submit" class="form__button">ENVIAR</button>
      
        </div>

        
    </form>
</body>
</html>