.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    width: 30%;
    text-align: center;
    aspect-ratio: 1/1; /* Add this line to make the card square */
    display: flex; /* Add this line */
    align-items: center; /* Add this line */
    justify-content: center; /* Add this line */
    flex-direction: column; /* Add this line to stack the items vertically */
}


.btn {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-left: 20px;
    margin-top: 30px;
    
}

.btn:hover {
    background-color: #0056b3;
}

@media (min-width: 425px){
    .form__title{
        font-size: 1.8rem;
    }
   
}