/* CSS */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.text {
    margin-bottom: 20px;
    font-size: 40px;
}

.qr-code {
    margin-bottom: 20px;
}

.download-button {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #3866f2;
    border: none;
    border-radius: .5em;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    transition-duration: 0.4s;
}

.download-button:hover {
    background-color: white; 
    color: black; 
    border: 2px solid #3866f2;
}

.back-button {
position: absolute;
top: 30px;
left: 30px;
padding: 10px 20px;
background-color: #3866f2;
border: none;
border-radius: .5em;
color: white;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 20px;
margin: 4px 2px;
transition-duration: 0.4s;

}